#modules
node_modules/

#env variables
.env
.env1
.env2

#ide settings
sportif-back.iml

package-lock.json
yarn.lock

.idea/

#compiled
dist/

# SQLTools
*.log
.vscode/settings.json
Jaws spryr.session.sql
maria db j5zntoc.session.sql